<h1> Welcome <%= current_user.name  %> to the Come On In Admin Dashboard</h1>


<%= form_tag study_sessions_path, :method => 'get' do %>
  <%= date_field_tag :search %>
  <%= submit_tag "Search Study Sessions"%>
<% end %>
<%= form_tag admin_index_path, :method => 'get' do %>
  <%= date_field_tag :search %>
  <%= submit_tag "All Attending Students"%>
<% end %>
<br><br>
<%= button_to "All Study Sessions",  study_sessions_path, :method => 'get' %>
<br><br>
<% if @study_sessions %>
<h2>Students attending on <%= @study_sessions.first.date %></h2>
<% @study_sessions.each do |study_session| %>
  <%= study_session.teacher %> | <%= study_session.grade %> | <%= study_session.content %>
  <br><br>
  
<% end %>
