<h2> Welcome <%= current_user.name  %> to the Come On In Admin Dashboard</h2>


<%= form_tag study_sessions_path, :method => 'get' do %>
  <%= text_field_tag :search, "Out of Order"%>
  <%= submit_tag "Search Study Sessions", class: 'btn btn-xs'%>
    <br><br>
<% end %>
<%= form_tag admin_index_path, :method => 'get' do %>
  <%= date_field_tag :search %>
  <%= submit_tag "All Attending Students", class: 'btn btn-xs'%>
<% end %>
<br><br>
<%= button_to "All Study Sessions",  study_sessions_path, :method => 'get', class: 'btn btn-xs' %>
<br><br>
<% if @study_sessions %>
<%= render :partial => 'study_sessions/teacher_show', :collection => @study_sessions, :as => 'study_session' %>
<% end %>
