<div class="row" data-id="<%= study_session.id %>">
  <div class="col">
    <h3><%= study_session.subject %> | <%= study_session.teacher.name %> | <%= study_session.grade %></h3>
    <p><%= study_session.content %> |
    <%= study_session.date.strftime("%A, %b %d, %Y") %> at <%= study_session.time %></p>
    <div class="attendees"></div>
  </div>
  <div class="col">
    <!-- <form data-id="<%= study_session.id %>">

    </form> -->
    <% if current_user.teacher? || current_user.admin? %>
      <%= render :partial => "study_sessions/teacher_navigation", :locals => {study_session: study_session} %>
    <% else %>
      <%= render :partial => "study_sessions/student_navigation", :locals => {study_session: study_session} %>
    <% end %>
  </div>
</div>

<!-- <div class="row" data-id="<%= study_session.id %>">
  <div class="col">
    <p><%= link_to study_session.content, study_session_path(study_session) %> |
    <%= study_session.date.strftime("%A, %b %d, %Y") %> at <%= study_session.time %></p>
  </div>
  <div class="col">
  </div>
</div> -->


<p class="separators">_______________________________________________</p>
