<div class="row">
  <h3><%= study_session.subject %> | <%= study_session.teacher.name %> | <%= study_session.grade %></h3>
</div>

<div class="row">
  <p><%= link_to study_session.content, study_session_path(study_session) %> | 
  <%= study_session.date.strftime("%A, %b %d, %Y") %> at <%= study_session.time.strftime("%H:%M") %></p>
</div>

<% if current_user.teacher? || current_user.admin? %>
  <%= render :partial => "study_sessions/teacher_navigation", :locals => {study_session: study_session} %>
<% else %>
  <%= render :partial => "study_sessions/student_navigation", :locals => {study_session: study_session} %>
<% end %>
<p class="separators">_______________________________________________</p>
