<h3> <%= study_session.teacher.name %> | <%= study_session.grade %> | <%= study_session.content %> </h3>
<% if study_session.students.count > 0 %>
  <h4>Students Attending</h4>
  <ul>
  <% study_session.students.each do |student| %>
    <li><%= student.name %> | <%= student.current_grade %></li>
  <% end %>
  </ul>
<% else %>
  <p>No students have signed up for this study session.</><p>
<% end %>
