<!DOCTYPE html>
<html>
  <head>
    <title>ComeOnIn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <%= render "layouts/navigation" %>
        </div>
        <div id="main-content" class="col-xs-9">
          <%= render "layouts/errors" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>

</html>
